<!-- <div class="text-layout">
  <h1>
    {{ nombre | titlecase }}
    {{ numbre | number }}
    {{ obj | json }}
  </h1>
</div>
 -->

<!-- <button
pButton
(click)="mostrarNombre()"
label="Cambiar Nombre"
icon="pi pi-instagram"
iconPos="right"
class="p-button-help"
></button>
<div class="tar">
  <p-card [header]="nombre|titlecase"
          subheader="esto es un subheader"
          >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vitae suscipit
    fugiat exercitationem molestias, id unde soluta velit rerum, minima deleniti
    assumenda doloribus nobis repellat magni sequi nam fugit dolor.
  </p-card>
</div> -->
<app-menu></app-menu>

<router-outlet></router-outlet>